* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(164, 234, 228, 0.5);
}

a :link {
  color: #39FF14;      
}

a :visited {
  color: #39FF14;   
}

a :hover {
  color: red;      
}

a :active {
  color: orange;    
}


nav {
  justify-content: center;
  padding: 12px;
  justify-self: center;
  border: 2px dashed black;
}

.navBar {
  border-right: 1px solid black ;
}

h2 {
  justify-self: center;
  color: #cfff04;
  padding: 12px;
  background-color: rgba(209, 77, 134, 0.5);
  display: flex;
  border: 2px solid black;
}

.Account {
  display: flex;
  justify-self: right;
  justify-content: right;
  background-color: darkgray;
  padding: 12px;
  gap: 12px;
  font-size: 16px;
  padding-left: 100%;
  
}
